@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

.one {
  position: relative;
  display: flex;
  flex-direction: column;
  
}
.three{
  padding: 10px;
  position: absolute;
  bottom: 0px;
  background-color: #52FFAA;
  border-radius: 50%;
}

.five{
  border-bottom: 3px solid red !important; 
  width: 80%;
}
.three:hover{
  background-color: #53FFAB;
}
.attribution{
  position: absolute;
  bottom: 0;
}




@media screen and (max-width:768px)  {
 
  .one{
    width: 100%;
    
    }
}


